@font-face { 
    font-family: "Unbounded"; 
    src: url("../fonts/Unbounded/Unbounded-VariableFont_wght.ttf"); 
}

@font-face { 
    font-family: "Syne"; 
    src: url("../fonts/Syne/Syne-VariableFont_wght.ttf")
}


.navbar{
    background-color: #04020C;

    .navbar-brand {
        font-family: "Unbounded";
        font-size: 1em;
    }
    .nav-item {
        font-family: "Unbounded";
    }
}

.Carousel--container{
    margin: 3.5em 0em 3.5em 0em;
}


  


.Reviews--container{

    h1{
        font-family: "Unbounded", sans-serif;
        font-weight: 400;
        text-align: center;
        font-size: 2em;
    }
    h2 {
        font-family: "Unbounded";
        font-weight: normal;
        font-size: 1.2em;
    }

}

.Client--box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1em;

    h3 {
        font-family: "Unbounded";
        font-weight: normal;
        font-size: 1.6em;
    }

    p {
        font-family: "Unbounded";
        font-weight: lighter;
        letter-spacing: 0.2em;
        padding: 1em;
        font-size: 0.9em;
    }
}

footer{
    background-color: #04020C;
    background-size: cover;
    background-repeat: no-repeat;

    .Footer--contacto {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 1em;
        font-family: "Unbounded";
        font-size: 1em;
        
        .Footer--socialmedia {
            column-gap: 1em;
        }
    }

    .Footer--copyright {
        font-family: "Unbounded";
        font-size: 1em;
    }
    
}


/*ESTILOS SECCIÓN ABOUT ME*/

.Aboutme--content {
    padding-top: 8em;

    .Aboutme--image{
        width: 350px;
    }

    .Aboutme--container { 
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 2em;
        padding: 2em;

        h1 {
            color: #E2209D;
            font-family: 'Syne';
            font-weight: 800;
            text-align: center;
            font-size: 2.2em;
            line-height: 1.4em;
        }
        h2 {
            color: #ffffff;
            font-family: "Unbounded";
            font-size: 0.8em;
            letter-spacing: 0.2em;
            line-height: 2em;
            text-align: center;
        }
    }

    .Aboutme--container-modifier{
        background-color: #E2209D;
        justify-content: center;
        padding: 5em 2em 5em 2em;

        h3 {
            color: #ffffff;
            font-family: "Unbounded";
            font-size: 0.8em;
            letter-spacing: 0.2em;
            line-height: 2em;
            text-align: center;
        }
    }
}


/*SECCIÓN SERVICES*/

.Services--content{

    .Services--title{
        padding: 2em;
        font-family: "Unbounded";
        font-weight: normal;
        font-size: 1.4em;
        letter-spacing: 0.14em;
        text-align: center;
    }

    .Service--container {
        padding: 2em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 1em;
        text-align: center;

        h2 {
            font-family: "Unbounded";
            font-weight: 900;
            font-size: 1.9em;
            color: black;
        }

        p {
            font-family: "Unbounded";
            font-size: 0.9em;
            line-height: 1.9em;
            letter-spacing: 0.1em;
            color: black;
        }

        a{
            background-color: #E2209D;
            border-color: #E2209D;
            border-radius: 25px;
            font-family: "Unbounded";
            font-size: 0.9em;
            letter-spacing: 0.1em;
        }
        
    }

    .Service--1{
        background-image: linear-gradient(to bottom,   #ff36eb9d, #cd376e, #f89ef5, #6d039e,);
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    .Service--2{
        background-image: linear-gradient(to bottom,   #ff36eb9d, #f06e9e, #ff6596, #c258f3,);
        background-size: cover;
        background-repeat: no-repeat;
    }
    .Service--3{
        background-image: linear-gradient(to bottom,   #ff36eb, #ff70a4, #ffc0fd, #d4227e,);
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    .Service--4{
        background-image: linear-gradient(to bottom,   #fc78efe4, #f4518d, #da9fd8, #76034c,);
        background-size: cover;
        background-repeat: no-repeat;
    }
}


/*SECCION PROYECTS*/


.Proyects--grilla {
    display: grid;
    grid-template-areas: 
    "nav"
    "img1"
    "img2"
    "img3"
    "img4"
    "img5"
    "img6"
    "img7"
    "footer";
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9,auto);
    
    .Gallery--image {
    width: 100%;
    height: 100%;
    }  
}


.nav{
    grid-area: nav;
}
.footer{
    grid-area: footer;
}
.img1{
    grid-area: img1;
}
.img2{
    grid-area: img2;
}
.img3{
    grid-area: img3;
}
.img4{
    grid-area: img4;
}
.img5{
    grid-area: img5;
}
.img6{
    grid-area: img6;
}
.img7{
    grid-area: img7;
}


/*SECCION CONTACT ME */

.Contactme--content{
    background-color: #04020C;
    margin-top: 2em;
    padding: 2em;

    .Contact--title{
        padding: 2em;
        font-family: "Unbounded";
        font-weight: normal;
        letter-spacing: 0.14em;
        text-align: center;
        color: #ffffff;
    }

    .Form--container {
        padding: 2em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 4em 2em 2em 2em;
        background-color: #171717;
        border-radius: 25px;

        .Form--fieldset {
            display: flex;
            flex-direction: column;
            justify-content: center;
            border: none;
            row-gap: 2em;

            .Form--legend {
                color: #ffffff;
                font-family: "Unbounded";
                font-weight: normal;
                font-size: 1.4em;
                text-align: center;
            }

            .Form--label {
                margin-bottom: 0.5em;
                color: #ffffff;
                display: block;
                font-family: "Unbounded";
                font-weight: normal;
                font-size: 1em;
                letter-spacing: 2.5px; 
                text-align: center;
            }

            .Form--input{
                font-family: "Unbounded";
                font-weight: normal;
                font-size: 0.9em;
                text-align: center;
            }

            .Form--button{
                color: #ffffff;
                background-color:#E2209D ;
                border-color: #E2209D;
                border-width: 2px;
                border-style: solid;
                border-radius: 24px;
                font-family: "Unbounded";
                font-weight: 400;
                font-size: 1em;
                text-align: center;
            }
            
        }
    }

    .Socialmedia--container{
        padding: 1em;
        margin: 4em 2em 1em 2em;
        display: flex;
        flex-direction: column;
        row-gap: 1.5em;
        align-items: center;
        justify-content: center;
        background-color:#E2209D ;
        border-radius: 1em;

        h2 {
            font-family: "Unbounded";
            font-weight: normal;
            font-size: 1.3em;
            font-weight: bold;
            letter-spacing: 0.1em;
            text-align: center;
            color:#ffffff;
        }

        .Socialmedia--icons{
            display: flex;
            column-gap: 2em;

            img {
                width: 2.4em;
            }
        }
        
    }

    .mapa{
        padding: 1em;
        width:100%;
        height: 20em;
        border-radius: 2em;
    }
    
}